
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    list-style: none;

}
body{
    font-size: 16px;
}
a{
    text-decoration: none;
    color: black;
}

/*------------- HEADER -------------*/


/*Menu*/
nav{
    z-index: 1000;
    font-family: 'Cabin Sketch';
    width: 100%;
    font-size: 1.5em;
    color: rgb(82, 67, 67);
    background: linear-gradient(to bottom, rgb(245, 223, 223), white);
    position: fixed;
}
    .menu-container{
        display: flex;
        justify-content: space-between;
        padding: .3em;
    }
        .logo{
            padding-top: .5em;
            margin-left: 1.5em;
            font-size: 1.3em;
        }
            .logoimg{
                width: 1.8em;
            }
    
    .menu{
        width: 35%;
        margin-right: 1em;   
    }
    .menu-ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;
    }
       
        .bolsita{
            width: 1.5em;
        }
    
        .submenu{
            position: absolute;
            padding: 1em;
            margin-top: .3em;
            width: 12em;
            right: 1em;
            text-align: center;
            background-color: white;
            z-index: 1000;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }
    .table{
        font-size: .8em;
    }
    .thead{
        width: 10em;
    }
 

/*PORTADA*/

.portada{
    height: 83vh;
    display: flex;
    padding-top: 4em;
}
    /* -- Div texto -- */

    .portadaTexto{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 2rem 0 2rem;
    }

        .portadaTextoParrafo{
            font-family: 'Balsamiq Sans', cursive;
            font-weight: 400;
            font-size: 1.2em;
            color: rgb(117, 114, 114);
            padding: 2rem ;
        }

        /*TITULO*/

        .portadaTextoTitulo {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .portadaTextoTitulo-typing {
            width: 24ch;
            animation: typing 4s steps(35), blink .20s step-end infinite alternate;
            white-space: nowrap;
            overflow: hidden;
            border-right: 3px solid;
            font-family: monospace;
            font-size: 2.7em;
            color: rgb(82, 67, 67);
            font-family: 'Cabin Sketch';

        }
            @keyframes typing {
                from {
                width: 0
                }
            }
            @keyframes blink {
                50% {
                border-color: transparent
                }
            }

    /* -- Div imagen -- */

    .portadaImagen{
        width: 50%;
    }
        .portadaImagen img{
            width: 100%;
        }


/*------------------ MAIN -----------------*/

.main{
    background-color: rgb(250, 245, 245);
}

    /*--------- Seccion introduccion ---------- */
    .introduccion{
        text-align: center;
        margin: 3em;
        padding: 12rem 6rem 6rem 6rem;
    }
    /*Titulo*/
    .titulo{
        color: rgb(82, 67, 67);
        font-size: 3.2em;
        font-family: 'Cabin Sketch';
    }

/*Caja texto */
    .introCajaTexto{
        margin: auto;
        width: 80%;
        padding-top: .5rem;
    }
        .introp{
            margin-top: 2rem;
            font-family: 'Balsamiq Sans', cursive;
            font-weight: 400;
            font-size: 1.3em;
            color: rgb(117, 114, 114);

        }

    /*Botones*/
    .introCajaBotones{
        margin: auto;
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        height: 43vh;
        width: 85%;
        padding: 5rem 0 2rem 0;
    }

    .introCajaBotonesImg {
        height: 100%;
        cursor: pointer;
        transition: all 0.5s ease-in-out; 

    }
        .introCajaBotonesImg img{
            height: 85%;
        }
        .introCajaBotonesImg-p{
            margin-top: 1.5rem;
            margin-bottom: 1rem;
            padding: .3rem;
            border: solid black .1rem;
            border-right: solid rgb(15, 15, 15) .3rem;
            border-bottom: solid rgb(15, 15, 15) .3rem;
            background-color: rgb(255, 255, 255);
            border-radius: .5rem;
            font-family: 'Balsamiq Sans', cursive;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.1em;
        
        }
        .botonCalculo{
            background-color: rgb(211, 248, 239);
        }

    .introCajaBotonesImg:hover{
        transform: translateY(-15px); 
    }


/* -------------- REGISTRO ---------------- */

    .registroSection{
        margin-top: 9rem;
    }
    .block{
        display: none;
    }
    .registroForm {
        width: 28.125rem;
        min-height: 31.25rem;
        height: auto;
        border-radius: 0.3125rem;
        margin: 2% auto;
        box-shadow: 0 0.5625rem 3.125rem hsla(16, 9%, 32%, 0.31);
        padding: 2%;
        background-image: linear-gradient(-225deg, #f8f3a9 50%, #FFE6FA 50%);
    }
    /* form Container */
    .registroForm .registroForm-div {
        display: -webkit-flex;
        display: flex;
      
        -webkit-justify-content: space-around;
        justify-content: space-around;
      
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
      
          margin: 0 auto;
    }
    
    /* the header form form */
    .registroForm-cabecera {
        margin: 2% auto 0% auto;
        text-align: center;
    }
    /* Login title form form */
    .registroForm-cabecera h4 {
        font-size: 250%;
        font-family: 'Cabin Sketch';
        color: #504a45;
    }
    /*  A welcome message or an explanation of the login form */
    .registroForm-cabecera p {
        letter-spacing: 0.05em;
        font-family: 'Balsamiq Sans', cursive;
    
    }
    
    .input-item {
        background: #fff;
        color: #333;
        padding: 0.9063rem 0rem 0.9375rem 0.5625rem;
        border-radius: 0.3125rem 0rem 0rem 0.3125rem;
    }
    
    
    
    /* Show/hide password Font Icon */
    #eye {
        background: #fff;
        color: #333;
        margin: 0.3688rem 0 0 0;
        margin-left: -1.25rem;
        padding: 0.9375rem 0.5625rem 1.1875rem 0rem;
        border-radius: 0rem 0.3125rem 0.3125rem 0rem;
      
        float: right;
        position: relative;
        right: 1%;
        top: -.2%;
        z-index: 5;
        
        cursor: pointer;
    }
    /* inputs form  */
    .form-input[class="form-input"]{
        width: 15rem;
        height: 3.125rem;
      
        margin-top: 2%;
        padding: 0.9375rem;
        
        font-size: 1rem;
        font-family: 'Abel', sans-serif;
        color: #5E6472;
      
        outline: none;
        border: none;
      
        border-radius: 0px 5px 5px 0px;
        transition: 0.2s linear;
        
    }
    .form-input[id="txt-input"] {width: 250px;}
    /* focus  */
    .form-input:focus {
        transform: translateX(-2px);
        border-radius: 0.3125rem;
    }
    
    .log-in {
        display: inline-block;
        color: #252537;
      
        width: 17.5rem;
        height: 3.125rem;
        padding: 0 1.25rem;
        background: #fff;
        border-radius: 0.3125rem;
        outline: none;
        border-right: solid .3rem;
        border-bottom: solid .3rem;
        cursor: pointer;
        text-align: center;
        transition: all 0.2s linear;
        margin: 7% auto;
        letter-spacing: 0.05em;
    }
    /* Submits */
    .submits {
        width: 48%;
        display: inline-block;
        float: left;
        margin-left: 2%;
    }
    
    /*       Forgot Password button FAF3DD  */
    .frgt-pass {background: transparent;}
    
    /*     Sign Up button  */
    .sign-up {background: #B8F2E6;}
    
    
    /* buttons hover */
    .log-in:hover {
        transform: translatey(3px);
        box-shadow: none;
    }
    
    /* buttons hover Animation */
    .log-in:hover {
        animation: ani9 0.4s ease-in-out infinite alternate;
    }
    @keyframes ani9 {
        0% {
            transform: translateY(0.1875rem);
        }
        100% {
            transform: translateY(0.3125rem);
        }
    }


/* -------------- WAVE ---------------- */
.wave-1{
    height: 9.375rem; 
    overflow: hidden;
}
.wave-2{
    height: 5.625rem; 
    overflow: hidden;
}
.wave-svg{
    height: 100%; 
    width: 100%;
}
.wave-path{
    stroke: none; 
    fill: rgb(251, 253, 255);
}


/* -------------- BLOG ---------------- */

.blog{
    padding:5rem 0 6rem 0;
    border-top: dashed rgb(158, 156, 156);
    background: linear-gradient(to bottom, rgb(250, 245, 245), white);

}

    .blogIntro{
        width: 70%;
        margin: auto;
        padding-bottom: 6rem;
    }

    /*Seccion Calcular alimento*/
    .calculoDeAlimentacion{
        border: dashed rgb(94, 76, 76);
        background-color:  #f8f3a9;
        text-align: center;
        margin: auto;
        width: 70%;
        box-shadow: 1.875rem -1rem rgba(126, 123, 123, 0.274);
    }

    .calculoDeAlimentacionTexto{
        padding: 4rem 6rem 0rem 6rem;
    }
    
    .subtitulo{
        font-family: 'Cabin Sketch';
        color: rgb(82, 67, 67);
        font-size: 1.8rem;
    }

    .lista{
        font-family: 'Balsamiq Sans', cursive;
        font-weight: 400;
        font-size: 1.2em;
        color: rgb(70, 67, 67);
        margin: auto;
        width: 40%;

    }

    .calculoDatos{
        background-color: white;
    }

    .calculoDeAlimentacion h4{
        padding-bottom: 2rem;
    }
        .calculoDeAlimentacionCuestionario{
            padding-top : 0rem;
            display: flex;
            align-items:flex-end;
            justify-content: center;
        }
        .cuestionarioBox{
            display: flex;
            flex-direction: column;
            width: 35%;

        }
        .cuestionarioBox label{
            margin: .5rem;
        }
        .imagenCuestionario img{
            width: 29rem;
        }




/* ---------- BOTON (portada y calcular) -------------*/


  .div {
    display: grid;
    place-items: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .botonPortada {
    font-weight: 600;
    border: solid 0.125rem black;
    outline: 0;
    padding: 1rem 4rem;
    font-size: 1.5rem;
    letter-spacing: .08rem;
    background-color: white;
    border-radius: .35rem;
    position: relative;
    cursor: pointer;
  }
    
    .botonPortada::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: pink;
        z-index: -1;
        border-radius: .35rem;
        border: solid 2px black;
        transition: all .3s ease-in-out;
    }
  
  .botonPortada.botonPortada::after {
      border: 0;
       box-shadow: 0px 0px 0px 2px black;
       top: .5rem;
       left: .5rem;
    
  }
    .botonPortada:hover {
      background-color: pink;
      border: 0;
    }
    .botonPortada:hover::after {
        background-color: black;
        box-shadow: none;
      }
    
  
    /* --------- Div JS -----------*/

      #respuestaUsuario{
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center;
          background-color: white;
          margin-bottom: 3rem;
      }

      #respuestaUsuario div{
        height: 25vh;
        width: 50%;
        padding: 3rem;
        border: solid;
        margin: auto;
        font-family: 'Balsamiq Sans', cursive;
        font-size: 1.3rem;
        background-color: rgb(253, 253, 232);

      }



/*-------------------Tienda Online----------------*/
.tienda{
    background-color:white;
    padding-bottom: 8rem;
}
.shop{
    display: flex;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3.5rem;
  }
  
  .productoContainer{
    display: flex;
    height: 22.5rem;
    width: 45%;
    margin: 1.1875rem ;
    border-radius: 0.4375rem 0.4375rem 0.4375rem 0.4375rem;
    -webkit-box-shadow: 0rem 0.875rem 2rem 0rem rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0rem 0.875rem 2rem 0rem rgba(0, 0, 0, 0.15);
    box-shadow: 0rem 0.875rem 2rem 0rem rgba(0, 0, 0, 0.15);
  }
  
  .product-img {
    float: left;
    width: 43%;
    background-color: #f5e3db;
  }
  
  .product-img img {
    border-radius: 0.4375rem 0 0 0.4375rem;
    margin: auto;
    height:100%;
     width:100%;
  }
  
  .product-info {
    width: 55%;
    border-radius: 0 0.4375rem 0.625rem 0.4375rem;
    background-color: #ffffff;

  }
  
  .product-text {
    width: 20.4375rem;
  }
  
  .product-text h1 {  
    padding-top: 1.875rem;
    font-size: 2.125rem;
    color: #f61313;
  }
  
  .product-text h2 {
    margin: 0 0 1.875rem 0rem;
    font-size: 0.8125rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 0.2em;
  }
  
  .product-p {
    padding-right: 0.9375rem;
    height: 8.4375rem;
    margin: 0 0 0 2.375rem;
    font-family: 'Balsamiq Sans', cursive;
    color: #a5a3a3;
    line-height: 1.8em;
    font-size: 0.9375rem;
    font-weight: lighter;
    overflow: hidden;
  }

  .product-price-btn {
    height: 6.4375rem;
    width: 20.4375rem;
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-top: 0.625rem;

  }
  .precio{
      font-size: 1.5rem;
      font-weight: 600;
      font-family: 'Balsamiq Sans', cursive;
      color: rgb(95, 84, 84);
  }
  .botonCarrito{
    height: 3.125rem;
    width: 12.5rem;
    border-radius: 3.75rem;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #97dac8;
    cursor: pointer;
    outline: none;
    margin-top: 1.5625rem;
    border: solid;
  }
  
  .botonCarrito:hover {
    background-color: #79b0a1;
  }
  
  .fijo{
    position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  padding: .5rem;
  z-index: 2;
  background-color: rgb(202, 185, 172);
  }
  @media (max-width: 480px) {

    *{
        font-size: 9px;
    }
    .portada{
        height: 75vh;
        padding-top: 0em;
    }
        /* -- Div texto -- */
        .portadaTexto{
            width: 100%;
        }
        /* -- Div imagen -- */
        .portadaImagen{
            display: none;
        }

        .introduccion{
            margin: 0em;
            padding: 10rem 0rem 6rem 0rem;
        }
    

    /*Botones*/
    .introCajaBotones{
        height: 30vh;
        width: 100%;
        padding: 5rem 0 0rem 0;
    }
        .introCajaBotonesImg {
            height: 60%;
        }
         
            .introCajaBotonesImg-p{
                margin-bottom: 0rem;
            }
    /*Productos lista*/ 
        .productoContainer{
            width: 100%;
        }

    /* -------------- BLOG ---------------- */
    .blogIntro{
        width: 90%;
    }

    /*Seccion Calcular alimento*/
    .calculoDeAlimentacion{
        width: 85%;
    }
    .calculoDeAlimentacionTexto{
        padding: 4rem 2rem 0rem 2rem;
    }
    
    .subtitulo{
        font-size: 1.2rem;
    }

    .imagenCuestionario img{
        width: 20rem;
    }
  }

  @media (min-width: 480px) and (max-width: 1366px) {
    *{
        font-size: 12px;
    }
    .portada{
        height: 75vh;
        padding-top: 0em;
    }
        /* -- Div texto -- */
        .portadaTexto{
            width: 100%;
        }
        /* -- Div imagen -- */
        .portadaImagen{
            display: none;
        }

        .introduccion{
            margin: 0em;
            padding: 10rem 0rem 6rem 0rem;
        }
    

    /*Botones*/
    .introCajaBotones{
        height: 30vh;
        width: 100%;
        padding: 5rem 0 0rem 0;
    }
        .introCajaBotonesImg {
            height: 60%;
        }
         
            .introCajaBotonesImg-p{
                margin-bottom: 0rem;
            }
    /*Productos lista*/ 
        .productoContainer{
            width: 100%;
        }

    /* -------------- BLOG ---------------- */
    .blogIntro{
        width: 90%;
    }

    /*Seccion Calcular alimento*/
    .calculoDeAlimentacion{
        width: 85%;
    }
    .calculoDeAlimentacionTexto{
        padding: 4rem 2rem 0rem 2rem;
    }
    
    .subtitulo{
        font-size: 1.2rem;
    }

    .imagenCuestionario img{
        width: 20rem;
    }
  }














  


















